body{
    font-family: 20px Arial, Helvetica, sans-serif;

}

.navbar{
    background-color:#758d7d ;
}

.quem-somos{
    background-color: rgb(190, 165, 119);
    color: rgb(255, 255, 255);

}

.margin{
    padding-top: 15px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: rgb(178, 194, 133);
    color: white;
}

.servicos{
    background-color: rgb(138, 149, 161);
    color: white;
}

.bg-footer{
    background-color: #585858;
    color: white;
}